body {
    background-color: rgba(255, 255, 255, 0.044);
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

/* ========================= HEADER ========================= */
header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgb(230, 230, 230);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px
}

header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 19px;

    &:hover {
        border-radius: 200px;
        background-color: rgb(185, 184, 188);
        transition-duration: 0.3s;
    }
}

.anchor {
    scroll-margin-top: 130px;
}

/* ========================= MAIN ========================= */
main {
    display: grid;
    width: 70vw;
    margin:130px auto 0 auto;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

section{
    margin-bottom: 100px;
}

/* ========================= START SECTION ========================= */

#Start {
    display: flex;
    flex-direction: row;
    margin-inline: 200px;
    gap: 100px;
    justify-content: center;
}

#Start img {
    width: 350px;
}

.SocialButtons button {
    margin-right: 10px;
}

/* ========================= EXPERIENCE SECTION ========================= */

.ExperienceArticles {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ExperienceArticle {
    padding: 55px;
    background-color: aliceblue;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

li{
    margin-bottom: 10px;
}

.CompanyImage img {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
}

.TecnologyIcons {
    display: flex;
    justify-content: center;
}
.TecnologyIcons picture {
    width: 50px;
    height: 50px;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
}
.TecnologyIcons picture img {
    margin-inline: 6px;
    width: 40px;
    height: 40px;
    transition-duration: 0.3s;

    &:hover {
        width: 60px;
        height: 60px;
    }

}

/* ========================= FOOTER ========================= */

footer {
    height: 70px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}
